.footer{
  margin-top: 50px;
  height: 600px;
  border-top: 1px solid #c9c9c9;
  background: url(../images/footer_message_bg.jpg) no-repeat center bottom;
}
.footer .promise{
  height: 95px;
  border-bottom: 1px solid #c9c9c9;
  margin-top: 25px;
}
.footer .promise li:first-of-type{
  margin-left: 10px;
}
.footer .promise .font{
  padding-top: 7px;
  padding-left: 5px;
  margin-right: 54px;
}
.footer .service b{
  margin-top: 25px;
  margin-bottom: 25px;
  display: inline-block;
}
.footer .service ul{
  margin-right: 107px;
}
.footer .pro1{
  overflow: hidden;
}
.footer .service:first-of-type{
  padding-left: 20px;
}
.footer .center1 .p1{
  margin-top: 110px;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}
.footer .center1 .p1,.footer .center1 .p2,.footer .center1 .p3{
  color: #fff;
  text-align: center;
}
.footer .center1 .p4{
  text-align: center;
  margin-top: 23px;
}
