.main .head {
  width: 100%;
  height: 82px;
}
.main .head img{
  width: 100%;
}
.main .page-line{
  height: 30px;
  width: 100%;
  background: #f2f2f2;
}
.main .page-line .w{
    position: relative;
}
.main .page-line .icon-home{
  color: #666666;
  position: absolute;
  top: 3px;
  left: 2px;
}
.main .page-line .iFont{
  padding-left: 22px;
  padding-top: 3px;
  display: inline-block;
  letter-spacing: 0.7px;
}
.main .page-line .line{
  width: 1px;
  height: 12px;
  display: inline-block;
  background: #dfdfdf;
  position: absolute;
  left: 109px;
  top: 9px;
}
.main .page-line .w .l li:nth-of-type(1){
  width: 110px;
}
.main .page-line .w .l li:nth-of-type(2){
  position: relative;
}
.main .page-line .icon-web-icon-{
  position: absolute;
  top: 3px;
  left: 14px;
}
.main .page-line .iFont2{
  padding-left: 34px;
  padding-top: 3px;
  display: inline-block;
  letter-spacing: 0.7px;
}
.main .page-line .w ul.r li{
  float: left;
  cursor: pointer;
}
.main .page-line .w .r {
  color: #777;
}
.main .page-line .w .r .mobile{
  width: 126px;
  text-align: center;
  height: 29px;
  line-height: 27px;
  color: #777777;
  position: relative;
  border:1px solid #f2f2f2;
  border-top: 0;
  top: 2px;
  margin-left: 1px;
}
.main .page-line .w .r .mobile .icon-shangjiantou{
  font-size: 10px;
}
.main .page-line .w .r .mobile:hover{
  background: #fff;
  border:1px solid #ccc;
  border-top: 0;
  cursor: pointer;
  color: #b10000;
}
.main .page-line .w .r .mobile:hover .qr{
  display: block;
}
.main .page-line .w .r .mobile .icon-erweima{
  font-size: 16px;
}
.main .page-line .w .r .mobile .icon-xiajiantou{
  font-size: 12px;
  color: #838383;
}
.main .page-line .w .r .mobile .qr{
  position: absolute;
  text-align: center;
  height: 177px;
  width: 126px;
  border:1px solid #ccc;
  background: #fff;
  border-top: 0;
  left: -1px;
  display: none;
}
.main .page-line .w .r .mobile .qr img{
  width: 108px;
  margin-top: 10px;
}
.main .page-line .w .r .mobile .qr .para{
  line-height: 20px;
  color: #666666;
}
.main .page-line .w .r .mobile .qr .reward{
  font-size: 16px;
  color: #af0115;
}
.main .page-line .w .r .help{
  width: 85px;
  height: 30px;
  line-height: 30px;
  color: #777;
  text-align: center;
  position: relative;
}
.main .page-line .w .r .help:hover{
  color: #c69c6d;
}
.main .page-line .w .r .help .hline{
  width: 1px;
  height: 12px;
  background: #dfdfdf;
  position: absolute;
  right: 0;
  top: 9px;
}
.main .page-line .w .r .regist{
  width: 43px;
  height: 30px;
  line-height: 30px;
  padding-left: 45px;
  position: relative;
}
.main .page-line .w .r .regist .rline{
  width: 1px;
  height: 12px;
  background: #dfdfdf;
  display: inline-block;
  position: absolute;
  right: 2px;
  top: 9px;
}
.main .page-line .w .r .regist img{
  position: absolute;
  left: 18px;
}
.main .page-line .w .r .my{
  width: 130px;
  height: 29px;
  padding-right: 5px;
  line-height: 27px;
  text-align: center;
  position: relative;
  top:2px;
  border:1px solid rgba(0,0,0,0);
  border-bottom: 0;
  z-index:1;
}
.main .page-line .w .r .my .mline{
  width: 1px;
  height: 12px;
  display: inline-block;
  position: absolute;
  background: #dfdfdf;
  right: 0px;
  top: 7px;
}
.main .page-line .w .r .my .icon-xiajiantou,.main .page-line .w .r .my .icon-shangjiantou{
  font-size: 10px;
  position: absolute;
  right: 11px;
  top: -1px;
}
.main .page-line .w .r .my:hover{
  background: #fff;
  border:1px solid #ccc;
  border-bottom: 0;
  color: #c69c6d;
}
.main .page-line .w .r .my:hover .myDetail{
  display: block;
}
.main .page-line .w .r .my .myDetail{
  width: 135px;
  display: none;
  border: 1px solid #ccc;
  background: #fff;
  border-top: 0;
  height: 150px;
  left: -1px;
  color: #666666;
  position: absolute;
}
.main .page-line .w .r .my .myDetail li{
  clear: both;
  height: 30px;
  width: 130px;
}
.main .page-line .w .r .my .myDetail li:hover{
  color: #b80000;
}
.main .page-line .w .r .login{
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: right;
  padding-right: 15px;
  position: relative;
}
.main .page-line .w .r .login .lline{
  position: absolute;
  right: -3px;
  top: 9px;
  display: inline-block;
  width: 1px;
  height: 12px;
  background: #dfdfdf;
}
.main .page-line .w .r .login a:hover{
  color: #b00000;
}
.main .search{
  height: 110px;
}
.main .search .img2{
  margin-top: 12px;
  margin-left: 48px;
}
.main .search .searchInput{
  margin-left: 55px;
  width: 347px;
  height: 38px;
  background: #c69c6d;
  margin-top: 36px;
}
.main .search .searchInput .input1{
  width: 258px;
  height: 34px;
  border: 0;
  margin-top: 2px;
  margin-left: 2px;
  outline: none;
  padding-left: 5px;
}
.main .search .searchInput .find{
  padding-left: 22px;
  font-size: 14px;
  color: #fff;
  letter-spacing:2px;
  cursor: pointer;
}
.main .search .img1{
  height: 110px;
}
.main .search .searchInput .cate a{
  display: inline-block;
  margin-top: 7px;
  margin-right: 23px;
  color: #999999;
}
.main .search .searchInput .cate a:hover{
  color: #b20000;
}
.main .search .img3{
  margin-left: 54PX;
  margin-top: 36px;
}
.main .search .cart{
  width: 94px;
  height: 32px;
  border: 1px solid #ccc;
  margin-left: 14px;
  margin-top: 35px;
}
.main .search .cart img{
  margin-left: 10px;
  margin-top: 2px;
}
.main .nav{
  height: 37px;
  width: 100%;
  background: #171818;
  border-bottom: 1px solid #cbcaca;
}
.main .nav .goods{

}
.main .nav .goods li{
  float: left;
  height: 37px;
  line-height: 37px;
}
.main .nav .goods li a{
    color: #c69c6d;
    padding: 0 27px;
}
.main .nav .goods li a:hover{
  color: #fff;
}
.main .nav .goods .classify{
  width: 130px;
  height: 37px;
  background: #cf1515;
  text-align: center;
  position: relative;
}
.main .nav .goods .classify:hover .recommand{
  display: block;
}
.main .nav .goods .classify .recommand{
  position: absolute;
  display: none;
  width: 130px;
  background: rgba(255,255,255,0.8);
  text-align: center;
  z-index: 1000;
}
.main .nav .goods .classify .recommand li a{
  color: #000;
  padding:0;
}
.main .nav .goods .classify .recommand li:hover span{
  display: inline-block;
}
.main .nav .goods .classify .recommand li:hover a{
  color: #bd9164;
}
.main .nav .goods .classify .recommand li span{
  display: inline-block;
  display: none;
  position: absolute;
  width: 25px;
  height: 30px;
  right: 3px;
  top: -1px;
  background: url(../images/share02.png) no-repeat -302px -29px;
}
.main .nav .goods .classify .recommand li{
  position: relative;
  background: rgba(255,255,255,0.5) url(../images/brand_category1.png) no-repeat 0px -3px;
}
.main .nav .goods .classify .recommand li:hover{
  background: rgba(255,255,255,1) url(../images/brand_category2.png) no-repeat 0px -3px;
}
.main .nav .goods .classify .recommand li:nth-of-type(2){
  background-position: 0px -34px;
}
.main .nav .goods .classify .recommand li:nth-of-type(3){
  background-position: 0px -66px;
}
.main .nav .goods .classify .recommand li:nth-of-type(4){
  background-position: 0px -98px;
}
.main .nav .goods .classify .recommand li:nth-of-type(5){
  background-position: 0px -131px;
}
.main .nav .goods .classify .recommand li:nth-of-type(6){
  background-position: 0px -165px;
}
.main .nav .goods .classify .recommand li:nth-of-type(7){
  background-position: 0px -196px;
}
.main .nav .goods .classify .recommand li:nth-of-type(8){
  background-position: 0px -228px;
}
.main .nav .goods .classify .recommand li:nth-of-type(9){
  background-position: 0px -262px;
}
.main .nav .goods .classify .recommand li:nth-of-type(10){
  background-position: 0px -292px;
}
.main .nav .goods .classify .recommand li:nth-of-type(11){
  background-position: 0px -325px;
}
.main .nav .goods .classify .recommand li:nth-of-type(12){
  background-position: 0px -356px;
}
.main .nav .goods .classify .recommand li:nth-of-type(13){
  background-position: 0px -388px;
}
.main .nav .goods .classify .recommand li:nth-of-type(14){
  background-position: 0px -420px;
}
.main .nav .goods .classify .recommand li:nth-of-type(15){
  background-position: 0px -455px;
}
.main .nav .goods .classify .recommand li:first-of-type{
  padding-left: 16px;
  width: 114px;
}
.main .nav .goods .classify .recommand li:first-of-type a{
  color: #bd9164;
}
.main .nav .goods .classify .recommand li:last-of-type{
  padding-left: 7px;
  width: 123px;
}
.main .nav .goods .classify .recommand li{
  width: 130px;
  text-align: center;
}
.main .nav .goods .classify>a{
    color: #fff;
}
.main .nav .goods .arrive{
  position: relative;
}
.main .nav .goods .arrive:hover a,.main .nav .goods .arrive:hover .icon-weizhi{
  color: #fff;
}
.main .nav .goods .arrive .icon-weizhi{
  color: #c8a985;
  font-size: 20px;
  position: absolute;
  left: 3px;
}
.main .nav .goods .oversea{
  height: 37px;
}
.main .nav .goods .oversea img{
  height: 37px;
}
.main .nav .goods .zheng{
  width: 27px;
  height: 37px;
  background: url(../images/share02.png) no-repeat -239px -68px;
  margin-left: 17px;
}
.main .nav .goods .vip{
  width: 27px;
  height: 37px;
  background: url(../images/share02.png) no-repeat -298px -69px;
  margin-left: 17px;
}
.main .nav .goods .quan{
  width: 27px;
  height: 37px;
  background: url(../images/share02.png) no-repeat -355px -69px;
  margin-left: 17px;
}
.main .slide{
  width: 100%;
  height: 520px;
}
.main .slide img{
  width: 100%;
  height: 520px;
}
.el-carousel__arrow--left{
  left: 175px;
  top: 200px;
  width: 30px;
  height: 50px;
  background: rgba(0,0,0,0.6);
}
.el-carousel__arrow{
  border-radius: 0;
}
.el-carousel__arrow:hover{
  background-color:rgba(0,0,0,0.6);
}
.el-carousel__arrow i{
  font-size: 30px;
}
.el-carousel__arrow--right{
  right: 175px;
  top: 200px;
  width: 30px;
  height: 50px;
  background-color: rgba(0,0,0,0.6);
}
.el-carousel__arrow--right:hover{
  background-color:rgba(0,0,0,0.6);
}
.el-carousel__indicator{
  position: relative;
  bottom:10px;
}
.main .flagship{
  margin-top: 36px;
}
.main .flagship img{
  width: 100%;
  height: 100%;
}
.main .flagship .brand1{
  display: flex;
  margin-top: 30px;
  width: 100%;
  justify-content: space-between;
}
.main .flagship .brand1 li{
  float: left;
}
.main .flagship .liItem{
  position: relative;
  width:234px;
  height: 336px;
  overflow: hidden;
}
.main .flagship .liItem .stretch{
  position: absolute;
  width: 174px;
  height: 154px;
  bottom: -100px;
  left:30px;
  background: #fff;
  transition: all 0.5s;
}
.main .flagship .liItem:hover .stretch{
  bottom:0;
}
.main .flagship .liItem .stretch .imgSize{
  width: 60px;
  height: 30px;
  margin:0 auto;
  margin-top: 10px;
}
.main .flagship .liItem .stretch .goodsStyle{
  margin-top: 15px;
  text-align: center;
  width: 100%;
}
.main .flagship .liItem .stretch .line{
  width:20px;
  height: 2px;
  background: #000;
  margin: 0 auto;
  margin-top: 5px;
}
.main .hotStore{
  overflow: hidden;
}
.main .hotStore .hotStoreHead{
  height: 60px;
}
.main .hotStore .hotStoreHead .hotStoreImg{
  width: 230px;
  height: 60px;
}
.main .hotStore .hotStoreHead .hotStoreImg img{
  width: 100%;
  height: 100%;
}
.main .hotStore .hotStoreHead .hotarrowbtn {
    float: right;
    padding-top: 23px;
    padding-right: 15px;
}
.main .hotStore .hotStoreHead .hotarrowbtn span{
  display: inline-block;
  width: 8px;
  height: 15px;
}
.main .hotStore .hotStoreHead .hotarrowbtn .hot_pre{
  background: url(../images/share02.png) no-repeat -160px -384px;
}
.main .hotStore .hotStoreHead .hotarrowbtn .hot_next{
  background: url(../images/share02.png) no-repeat -180px -384px;
  margin-left: 20px;
}
.main .hotStore .hotflag{

}
.main .hotStore .hotflag .hotflagbox{
  width: 3630px;
  height: 184px;
  position: relative;
  left: 0;
}
.main .hotStore .hotflag .hotflagbox .hotli{
  width: 1200px;
  height: 184px;
  flex-wrap: wrap;
  float: left;
}
.hotflagbox .hotflagson {
  position: relative;
  display: inline-block;
  width: 107px;
  height: 55px;
  padding: 14px 29px;
  border: 1px solid #dfdfdf;
  margin-right: 4px;
  margin-bottom: 7px;
}
.hotflagson img {
  width: 107px;
  height: 54px;
}
.hotflagbox .hotflagson:hover .topline{
  width: 165px;
  transition: all 0.3s linear;
}
.hotflagbox .hotflagson:hover .bottomline{
  width: 165px;
  transition: all 0.3s linear;
}
.hotflagbox .hotflagson:hover .leftline{
  height: 84px;
  transition: all 0.3s linear;
}
.hotflagbox .hotflagson:hover .rightline{
  height: 84px;
  transition: all 0.3s linear;
}
.hotflagbox .hotflagson .lineBorder{
  position: absolute;
  background: #000;
}
.hotflagbox .hotflagson .topline{
  left:0;
  top:0;
  width: 0;
  height: 1px;
}
.hotflagbox .hotflagson .rightline{
  right:0;
  bottom:0;
  width:1px;
  height: 0;
}
.hotflagbox .hotflagson .bottomline{
  right:0;
  bottom:0;
  width: 0;
  height: 1px;
}
.hotflagbox .hotflagson .leftline{
  left:0;
  top:0;
  width:1px;
  height: 0;
}
.hotflagbox .hotflagson .hotmiddle{
  position: absolute;
  width: 166px;
  height: 65px;
  background: #fff;
  left:0;
  top:0;
  opacity: 0;
  padding-top: 20px;
}
.hotmiddle .brandchnname {
    font-size: 18px;
    text-align: center;
}
.hotmiddle .blacksline span {
    display: inline-block;
    width: 20px;
    height: 2px;
    background: #000;
}
.hotmiddle .blacksline {
    text-align: center;
}
.hotflagbox .hotflagson:hover .hotmiddle{
  opacity: 1;
  transition: all 0.3s linear;
}
